%h1 What's New in each Release
.buttons
  = link_to 'Latest Version v1.3', '/v1.3/whats_new.html#version13'
  = link_to 'v1.2', '/v1.2/whats_new.html#version12'
  = link_to 'v1.1', '/v1.1/whats_new.html#version11'
  = link_to 'v1.0', '/v1.0/whats_new.html#version10'

%h2#version10 What's New in v1.0

.contents
  .bullet
    .description
      In this section, you'll find the major features introduced in the release. All the changes are documented in the Bundler 1.0 CHANGELOG.
      = link_to 'CHANGELOG', 'https://github.com/bundler/bundler/blob/1-0-stable/CHANGELOG.md'