%h2 Command Line Reference

#command_reference
  %table{:cellspacing => 0}
    %tr
      %th
        command
      %th
        applicable options
    = command_table_row do |command|
      - command.name   = 'binstubs'
      - command.desc   = 'Installs the binstubs of the listed gem'
      - command.option = 'force'
      - command.option = 'path'
    = command_table_row do |command|
      - command.name   = 'check'
      - command.desc   = 'Checks if the dependencies listed in Gemfile are satisfied by currently installed gems'
      - command.option = 'dry-run'
      - command.option = 'gemfile'
      - command.option = 'path'
    = command_table_row do |command|
      - command.name   = 'clean'
      - command.desc   = 'Cleans up unused gems in your bundler directory'
      - command.option = 'dry-run'
      - command.option = 'force'
    = command_table_row do |command|
      - command.name   = 'config'
      - command.desc   = 'Retrieve or set a configuration value'
    = command_table_row do |command|
      - command.name   = 'console'
      - command.desc   = 'Opens an IRB session with the bundle pre-loaded'
    = command_table_row do |command|
      - command.name   = 'exec'
      - command.desc   = 'Run the command in context of the bundle'
      - command.option = 'keep-file-descriptors'
    = command_table_row do |command|
      - command.name   = 'gem'
      - command.desc   = 'Creates a skeleton for creating a rubygem'
      - command.option = 'bin or -b'
      - command.option = 'edit'
      - command.option = 'ext'
      - command.option = 'test'
    = command_table_row do |command|
      - command.name   = 'help'
      - command.desc   = 'Displays detailed help for each subcommand'
    = command_table_row do |command|
      - command.name   = 'init'
      - command.desc   = 'Generates a Gemfile into the current working directory'
      - command.option = 'gemspec'
    = command_table_row do |command|
      - command.name   = 'inject'
      - command.desc   = 'Add the named gem(s), with version requirements, to the resolved Gemfile'
    = command_table_row do |command|
      - command.name   = 'install'
      - command.desc   = 'Install the current environment to the system'
      - command.option = 'binstubs'
      - command.option = 'clean'
      - command.option = 'deployment'
      - command.option = 'frozen'
      - command.option = 'full-index'
      - command.option = 'gemfile'
      - command.option = 'jobs'
      - command.option = 'local'
      - command.option = 'no-cache'
      - command.option = 'no-prune'
      - command.option = 'path'
      - command.option = 'quiet'
      - command.option = 'retry'
      - command.option = 'shebang'
      - command.option = 'standalone'
      - command.option = 'system'
      - command.option = 'trust-policy'
      - command.option = 'without'
    = command_table_row do |command|
      - command.name   = 'open'
      - command.desc   = 'Opens the source directory of the given bundled gem'
    = command_table_row do |command|
      - command.name   = 'outdated'
      - command.desc   = 'List installed gems with newer versions available'
      - command.option = 'local'
      - command.option = 'pre'
      - command.option = 'source'
    = command_table_row do |command|
      - command.name   = 'package'
      - command.desc   = 'Locks and then caches all of the gems into vendor/cache'
      - command.option = 'all'
      - command.option = 'gemfile'
      - command.option = 'no-install'
      - command.option = 'no-prune'
      - command.option = 'path'
      - command.option = 'quiet'
    = command_table_row do |command|
      - command.name   = 'platform'
      - command.desc   = 'Displays platform compatibility information'
      - command.option = 'ruby'
    = command_table_row do |command|
      - command.name   = 'show'
      - command.desc   = 'Shows all gems that are part of the bundle, or the path to a given gem'
      - command.option = 'paths'
    = command_table_row do |command|
      - command.name   = 'update'
      - command.desc   = 'Update the current environment'
      - command.option = 'full-index'
      - command.option = 'group'
      - command.option = 'jobs'
      - command.option = 'local'
      - command.option = 'quiet'
      - command.option = 'source'
    = command_table_row do |command|
      - command.name   = 'version'
      - command.desc   = 'Prints version information'
    = command_table_row do |command|
      - command.name   = 'viz'
      - command.desc   = 'Generates a visual dependency graph'
      - command.option = 'file or -f'
      - command.option = 'format or -F'
      - command.option = 'requirements or -r'
      - command.option = 'version or -v'
