= partial "shared/whats_new"

%h2#version15 What's New in v1.6

.contents
  .bullet
    .description
      In this section, you'll find the major features introduced in the release. All the changes are documented in the Bundler 1.6 changelog.
      = link_to 'Full 1.6 changelog', 'https://github.com/bundler/bundler/blob/1-6-stable/CHANGELOG.md'

%h2#parallel-install

.contents
  .bullet
    .description
      The <code>--jobs</code> option (<code>-j</code> for short) installs gems in parallel. For example, <code>bundle install -j4</code> will use 4 workers. We've seen speedups of 40-60% on fresh bundle installs. To always install in parallel, run <code>bundle config --global jobs 4</code> or set <code>BUNDLE_JOBS</code>.
    = link_to 'Learn More: Parallel Install', './bundle_install.html#jobs'

%h2#gem-source-mirrors

.contents
  .bullet
    .description
      Bundler now supports the ability to use a gem mirror in a Gemfile locally by using <code>bundle config</code>. <code> bundle config mirror.http://rubygems.org http://rubygems-mirror.org/</code>
    = link_to 'Learn More: Source Mirrors', './bundle_config.html#gem-source-mirrors'

%h2#ruby-patchlevel

.contents
  .bullet
    .description
      The ruby DSL now takes a <code>:patchlevel</code> option for locking to specific patchlevels of ruby like <code>ruby '2.0.0', :patchlevel => "247"</code>
    = link_to 'Learn More: Ruby Directive', './gemfile_ruby.html#patchlevel'

%h2#outdated-strict

.contents
  .bullet
    .description
      <code>bundle outdated --strict</code> displays outdated gems that match the dependency requirements.
    = link_to 'Learn More: outdated --strict', './bundle_outdated.html#strict'

%h2#retry-install

.contents
  .bullet
    .description
      <code>bundle install</code> now retries failed downloads. You can adjust the number of retries with the  <code>--retry</code> option.
    = link_to 'Learn More: Retry', './bundle_install.html#retry'

%h2#other-changes

.contents
  .bullet
    .description
      Bundler 1.6 also includes:
      %ul
        %li many smaller performance improvements to make resolving and installing faster
        %li cyclic dependency detection, to avoid infinite loops
        %li multiple arguments to the <code>bundle binstubs</code> command
        %li a <code>bundler</code> command in case you typo <code>bundle</code>
        %li uses RUBYLIB for better compatibility with Windows
        = link_to 'Full 1.6 changelog', 'https://github.com/bundler/bundler/blob/1-6-stable/CHANGELOG.md'

