= partial "shared/whats_new"

%h2#version16 What's New in v1.6

.contents
  .bullet
    .description
      In this section, you'll find the major features introduced in the release. All the changes are documented in the Bundler 1.6 changelog.
      = link_to 'Full 1.6 changelog', 'https://github.com/bundler/bundler/blob/1-6-stable/CHANGELOG.md'

%h2#new-resolver

.contents
  .bullet
    .description
      The resolver has been rewritten to avoid recursion and can now resolve Gemfiles up to 10x faster than before.

%h2#bundle-console-irb-alternatives

.contents
  .bullet
    .description
      <code>bundle console</code> now supports IRB alternatives Pry and Ripl. If we want to use Pry, set the <code>console</code> Bundler setting: <code>bundle config console pry</code>. You'll need make sure <code>pry</code> is in your Gemfile. Now when running <code>bundle console</code> it will open Pry instead of IRB.
    = link_to 'Learn More: Bundle Console', './bundle_console.html'

%h2#bundle-gem-ext

.contents
  .bullet
    .description
      Now when creating a new gem, <code>bundle gem</code> supports the <code>--ext</code> flag which creates skeleton files for a C-extension. When running <code>bundle gem newgem --ext</code>, it will create some new files in a <code>ext</code> directory: <code>extconf.rb</code>, <code>newgem.c</code>, <code>newgem.h</code>
    = link_to 'Learn More: Bundle Gem', './bundle_gem.html'


%h2#other-changes

.contents
  .bullet
    .description
      Bundler 1.6 also includes:
      %ul
        %li other performance improvements to make resolving and installing faster
        %li <code>:git_source</code> for custom options like :github and :gist
        %li color highlighting installed or updated gems
        %li HTTP auth may now be stored in <code>bundle config</code>
        = link_to 'Full 1.6 changelog', 'https://github.com/bundler/bundler/blob/1-6-stable/CHANGELOG.md'

