.row
  .container.text-center
    %ul.nav.navbar-nav
      %li= link_to t('navbar.docs'), "/docs.html"
      %li= link_to t('navbar.team'), "/contributors.html"
      %li= link_to t('navbar.blog'), "/blog"
      %li= link_to t('navbar.repository'), "https://github.com/bundler/bundler"

      %form.navbar-form.pull-right.translation_select_height= select_tag :language, options: current_page_languages_select, selected: current_page_language, id: 'language-select', class: 'form-control'