%nav.navbar.navbar-default
  .container
    %b= link_to "Bundler", "/", class: 'navbar-brand'

    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Docs", "/#{current_version}"
      %li= link_to "Team", "/contributors.html"
      %li= link_to "Blog", "/blog"