%nav.navbar.navbar-expand-md.navbar-light
  .container-md
    = link_to 'Bundler', '/', class: "navbar-brand me-auto fw-bold"
    .mx-3#docsearch
    %button.navbar-toggler{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#bs-navbar-collapse", "aria-controls": "bs-navbar-collapse", "aria-expanded": "false", "aria-label": "Toggle navigation"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse.flex-grow-0#bs-navbar-collapse
      %ul.navbar-nav
        %li.nav-item= link_to t('navbar.docs'), '/docs.html', class: "nav-link"
        %li.nav-item= link_to t('navbar.team'), '/contributors.html', class: "nav-link"
        %li.nav-item= link_to t('navbar.blog'), '/blog', class: "nav-link"
        %li.nav-item= link_to t('navbar.repository'), 'https://github.com/rubygems/rubygems/tree/master/bundler', target: '_blank', rel: 'noopener noreferrer', class: "nav-link"
