%nav.navbar.navbar-expand-md.navbar-light
  .container-md
    = link_to 'Bundler', '/', class: "navbar-brand me-auto fw-bold"
    %button.navbar-toggler{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#bs-navbar-collapse", "aria-controls": "bs-navbar-collapse", "aria-expanded": "false", "aria-label": "Toggle navigation"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse.flex-grow-0#bs-navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %input.input-search.my-1.ps-1.pt-1#input-search{type: :text, placeholder: t('search.placeholder')}
          %svg.text-opacity-40.m-1.mb-2{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 512 512", style: "width: 1rem; height: 1rem; fill: currentcolor;"}
            / Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.
            -# haml-lint:disable LineLength
            %path{d: "M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"}
            -# haml-lint:enable LineLength
        %li.nav-item= link_to t('navbar.docs'), '/docs.html', class: "nav-link"
        %li.nav-item= link_to t('navbar.team'), '/contributors.html', class: "nav-link"
        %li.nav-item= link_to t('navbar.blog'), '/blog', class: "nav-link"
        %li.nav-item= link_to t('navbar.repository'), 'https://github.com/rubygems/rubygems/tree/master/bundler', target: '_blank', rel: 'noopener noreferrer', class: "nav-link"
