!!!
- v = current_page.url.scan(/v\d\.\d/).first || current_version
%html
  %head
    = partial 'partials/head'
  %body
    #body
      #header
        - logo_img = image_tag('gembundler.png', :width => 725, :alt => "The best way to manage your application's dependencies")
        = link_to logo_img, '/', :class => 'image'
      #container
        .contents.blog
          %h2.title
            = link_to current_article.title, current_article.url
          %h3.subtitle
            by 
            = link_to current_article.data.author, current_article.data.author_url, :target => '_blank'
            on
            %time
              = current_article.date.strftime('%b %e %Y')
          %hr
          = find_and_preserve do
            = yield
    = partial 'partials/footer', locals: { v: v }
