~ wrap_layout :base do

	-# Main navbar
	= partial "header"

	= partial "banner"
	-# Content
	%main.container.doc-container

		.row

			%section.col-md-9(role="main")

				= yield

			.col-md-3

				.sidebar
					= partial "sidebar"

	= partial "footer"
