!!! 5
-# - v = current_page.url.scan(/v\d+\.\d+/).first || current_version
%html(lang="en")
  %head
    = partial 'partials/head'
  %body.site
    %header.site-header
      = partial 'partials/header'
    %main.cell
      = yield
      .sidebar
        = partial 'partials/sidebar'
    %footer.site-footer
      = partial 'partials/footer'
    = partial 'partials/scripts'
