!!!
- v = current_page.url.scan(/v\d\.\d/).first || 'v1.5'
%html
  %head
    %title Bundler: The best way to manage a Ruby application's gems
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8'}
    %meta{'name' => 'globalsign-domain-verification', 'content' => '276VSYOko8B8vIu1i8i5qbj7_ql5PXo0dU69XQy-SL'}
    %link{:rel => 'shortcut icon', :href => '/images/favicon.png', :type => 'image/png'}
    = stylesheet_link_tag 'application', 'sunburst'
  %body
    #body
      #header
        - logo_img = image_tag('gembundler.png', :width => 725, :alt => "The best way to manage your application's dependencies")
        = link_to logo_img, '/', :class => 'image'
      #container
        #contents
          = yield
        - if v == 'v1.5'
          #sidebar
            %h2 Would you like to
            %ul
              %li= link_to 'Get started', '/#getting-started'
              %li= link_to 'Report a bug', '/issues.html'
              %li= link_to "See what's new", '/v1.5/whats_new.html'
              %li= link_to 'Read documentation', '/v1.5/man/bundle.1.html'
              %li= link_to 'Discuss and Contribute', '/#get-involved'
              %li= link_to 'View FAQs', '/v1.5/faq.html'
            %h2 Bundler Commands
            %ul
              %li= link_to 'bundle install', '/v1.5/bundle_install.html'
              %li= link_to 'bundle update', '/v1.5/bundle_update.html'
              .buttons
                = link_to 'View all commands', '/v1.5/commands.html'
            %h2 Help With
            %ul
              %li= link_to 'Gemfiles', '/v1.5/gemfile.html'
              %li= link_to 'Groups', '/v1.5/groups.html'
              %li= link_to 'Gems from git', '/v1.5/git.html'
              %li= link_to 'Bundler.setup', '/v1.5/bundler_setup.html'
              %li= link_to 'Deploying', '/v1.5/deploying.html'
              %li= link_to 'Sharing', '/v1.5/bundler_sharing.html'
              %li= link_to 'Updating Gems', '/v1.5/updating_gems.html'
              %li= link_to 'Compatible versions', '/compatibility.html'
            %h2 Use Bundler with
            %ul
              %li= link_to 'Rails 3', '/v1.5/rails3.html'
              %li= link_to 'Rails 2.3', '/v1.5/rails23.html'
              %li= link_to 'Sinatra', '/v1.5/sinatra.html'
              %li= link_to 'Rubygems', '/v1.5/rubygems.html'
              %li= link_to 'RubyMotion', '/v1.5/rubymotion.html'

            .shirts
              .content
                = link_to 'http://www.devswag.com/collections/bundler', :class => 'image', :onclick => "ga('send', 'devswag');" do
                  = image_tag '/images/bundler-shirt.png'
                %p
                  =link_to 'Buy Bundler Shirts & Stickers!', 'http://www.devswag.com/collections/bundler', :onclick => "ga('send', 'devswag');"

    #footer
      = image_tag 'emocow.png'
      = image_tag 'panda.jpg'
      .spacer
      #credits
        %p
          == Many thanks to Bundler's #{link_to 'contributors', '/contributors.html' }
          == and #{link_to 'sponsors', '/sponsors.html' }
      .spacer
      = image_tag 'bundler-small.png'
    %a#github{ :href => 'http://github.com/bundler/bundler/' }
      %img{ :src => 'http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', :alt => 'Fork me on GitHub' }
    #prod-versions
      Docs:
      - %w(v0.9 v1.0 v1.1 v1.2 v1.3).each do |lv|
        = link_to(lv, "/#{lv}/index.html", :class => ('current' if v == lv))
      = link_to("v1.5", "/", :class => ('current' if v == 'v1.5'))

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39559982-1', 'bundler.io');
      ga('send', 'pageview');
