!!!
- v = current_page.url.scan(/v\d+\.\d+/).first || current_version
%html
  %head
    = partial 'partials/head'
  %body
    #body
      = partial 'partials/header'
      #container
        #contents
          = yield
        = partial 'partials/sidebar' if v == current_version
    = partial 'partials/footer', locals: { v: v }
    = partial 'partials/scripts'
