- v = current_page.url.scan(/v\d\.\d+/).first || current_version

- if /v\d\.\d+\//.match(current_page.destination_path)
  - content_for(:canonical, commands_toplevel_path(current_page.destination_path))

~ wrap_layout :base do
  - content_for :tail do
    .row.bg-light-blue
      .container
        .contents
          .edit-on-github.text-center
            = link_to_editable_version

  .row.bg-light-blue.header
    = image_tag '/images/docs_header_transparent_bg.png',
      srcset: '/images/docs_header_transparent_bg.png 1x, /images/docs_header_transparent_bg@2x.png 2x, /images/docs_header_transparent_bg@3x.png 3x',
      class: 'img-responsive header-padding',
      style: 'max-width: 400px;'
  .row
    #guide-container.container
      #wrapper
        #sidebar-wrapper.hidden-xs
          .sidebar-nav
            %h4 Guides
            = partial 'partials/guides_sidebar'
        #page-content-wrapper.guide.contents
          ~ yield

  .row
    .container
      #bottom-sidebar-wrapper.hidden-lg.hidden-md.hidden-sm
        .bottom-sidebar-nav
          = partial 'partials/guides_sidebar'

  = javascript_include_tag 'anchors.min'

:css
  .main-wrapper {
    padding-bottom: 0;
  }
