- is_command = command?(current_page.url) || whats_new?(current_page.url)
- v = current_page.url.scan(/v\d\.\d+/).first || current_version

- if current_page.destination_path.start_with?(current_version)
  - content_for(:canonical, commands_toplevel_path(current_page.destination_path))

~ wrap_layout :base do
  = partial 'partials/docs_header'

  .container
    .row.flex-column.flex-md-row-reverse
      .col-12.col-md-9.contents#page-content-wrapper{ class: is_command ? "commands" : "guide" }
        ~ yield
      .col-12.col-md-3.mt-4
        .sidebar-nav
          - if is_command
            = partial 'partials/commands_sidebar'
          - else
            = partial 'partials/guides_sidebar'

  = javascript_include_tag 'two_column_layout.min'

  .bg-light-blue
    .container
      .contents
        .edit-on-github.text-center
          != link_to_editable_version
