- is_command = command?(current_page.url) || whats_new?(current_page.url)
- v = current_page.url.scan(/v\d\.\d+/).first || current_version

- if /v\d\.\d+\//.match(current_page.destination_path)
  - content_for(:canonical, commands_toplevel_path(current_page.destination_path))

~ wrap_layout :base do
  - content_for :tail do
    .bg-light-blue
      .container
        .contents
          .edit-on-github.text-center
            = link_to_editable_version

  .bg-light-blue.header
    = image_tag '/images/docs_header_transparent_bg.png',
      srcset: '/images/docs_header_transparent_bg.png 1x, /images/docs_header_transparent_bg@2x.png 2x, /images/docs_header_transparent_bg@3x.png 3x',
      class: 'img-fluid header-padding',
      style: 'max-width: 400px;'
  .container
    .row.flex-column.flex-md-row-reverse
      .col-12.col-md-9.contents#page-content-wrapper{ class: is_command ? "commands" : "guide" }
        ~ yield
      .col-12.col-md-3.mt-4
        .sidebar-nav
          - if is_command
            = partial 'partials/commands_sidebar'
          - else
            = partial 'partials/guides_sidebar'

  = javascript_include_tag 'two_column_layout.min'
