.container.guide
  %h1
    What's New in
    = current_visible_version

  %p
    The
    = link_to 'Bundler 1.13 announcement', '/blog/2016/09/08/bundler-1-13.html'
    includes context and a more detailed explanation of the changes in this version. This is a summary of the biggest changes. As always, a detailed list of every change is provided in
    #{link_to "the changelog", "https://github.com/rubygems/bundler/blob/1-13-stable/CHANGELOG.md"}.

  %h3 New <code>doctor</code> command
  .contents
    .bullet
      .description
        %p
          Add the <code>doctor</code> command for automated troubleshooting. So far, it can automatically detect gems that have been compiled against libraries that no longer exist, and compile them again to fix them.
          (Thanks #{link_to '@mistydemeo', 'https://github.com/mistydemeo'}!)

  %h3 Support for <code>required_ruby_version</code>
  .contents
    .bullet
      .description
        %p
          Gems that declare a <code>required_ruby_version</code> will now resolve correctly as long as your Gemfile contains a <code>ruby</code> declaration.
          If a gem cannot be resolved because of your Ruby version, the error will correctly indicate that your Ruby version conflicts with your other gem version requirements.

  %h3 Manage locked platforms
  .contents
    .bullet
      .description
        %p
          In the past, the only way to resolve your Gemfile on a new platform (like <code>java</code> or <code>mswin</code>) was to run <code>bundle install</code> on that platform.
          We've added explicit options to the <code>lock</code> command to allow managing platforms.
          Platforms can be added using <code>bundle lock --add-platform NAME</code>, and platforms can be removed using <code>bundle lock --remove-platform NAME</code>.

  %h3 Fine controls for the <code>update</code> command
  .contents
    .bullet
      .description
        %p
          The <code>update</code> command now has several options to enable users to fine-tune exactly what it is that they will get,
          using the new flags <code>--major</code>, <code>--minor</code>, <code>--patch</code>, and <code>--strict</code>.
          It was also recently pointed out to us that running <code>update</code> could even result in some locked gems being changed to an older version!
          We can’t change the default behavior to avoid that until version 2.0, but for now we’ve added a config setting.
          To prevent the <code>update</code> command from ever “upgrading” you to an older version, run <code>bundle config only_update_to_newer_versions true</code>.

  %h3 Experimental plugin system
  .contents
    .bullet
      .description
        %p
          The plugin system also supports "source" plugins, which means it should be possible to use gems from Subversion, Mercurial, S3, or anything else you can think of.
          In addition to source plugins, we've started adding new "lifecycle" hooks.
          That means plugins will be able to hook in and run their own code before, during, or after the install or update process.

  %h3 Experimental Bundler version locking
  .contents
    .bullet
      .description
        %p
          automatically trampoline to the bundler version locked in the lockfile, only updating to the running version on <code>bundle update --bundler</code> (@segiddins)

  .contents
    .bullet
      .description
      Bundler 1.13 also includes:
      %ul
        %li Support for RubyGems 2.6.4
        %li Automatic gem installation for <code>bundler/inline</code>
        %li Dramatic resolver optimizations
        %li Better load-based <code>exec</code> command
        %li Support for setting "mirror" servers by hostname
        %li Automatic retrying for gem downloads
      = link_to 'Full 1.13 changelog', 'https://github.com/rubygems/bundler/blob/1-13-stable/CHANGELOG.md', class: 'btn btn-primary'
