- primary_commands = %w(bundle-install.1 bundle-update.1 bundle-cache.1 bundle-exec.1 bundle-config.1 bundle-help.1)

%h4 Choose version
%select.version-selects.form-select.mb-3
  - versions_grouped_by_status.each do |status, _versions|
    %optgroup{label: status}
      - _versions.each do |version|
        - selected = version == current_visible_version
        - value = documentation_path(current_page_without_version, version) || documentation_path('bundle-install.1', version)
        %option{selected: selected, value: value}
          = version
%h4 General
%ul
  %li{class: current_page.url.end_with?("whats_new.html") ? "active" : ""}
    = link_to "Release notes", "/#{current_visible_version}/whats_new.html"
    %li.separator
      %hr
%h4 Primary Commands
%ul
  - primary_commands.select{ |page| path_exist?(page, current_visible_version) }.each do |page|
    %li{class: current_page.url[-(page.size+5)..-6] == page ? 'active' : ''}
      = link_to_documentation(page, current_visible_version)
    %li.separator
      %hr
%h4 Utilities
%ul
  - other_commands(primary_commands, current_visible_version).each do |page|
    %li{class: current_page.url[-(page.size+5)..-6] == page ? 'active' : ''}
      = link_to_documentation(page, current_visible_version)
    %li.separator
      %hr
