.footer
  %p
    Many thanks to Bundler's #{link_to 'contributors', '/contributors.html' }
    and #{link_to 'sponsors', '/sponsors.html' }

-# #prod-versions
-#   Docs:
-#   = link_to("Previous Version (#{versions[-2]})", "/#{versions[-2]}/index.html", :class => ('current' if v == versions[-2]))
-#   = link_to("Current Version (#{current_version})", "/", :class => ('current' if v == current_version))
