%title
  = "Bundler: #{current_page.data.title || "The best way to manage a Ruby application's gems"}" 
%meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8'}
%meta{'name' => 'globalsign-domain-verification', 'content' => '276VSYOko8B8vIu1i8i5qbj7_ql5PXo0dU69XQy-SL'}
= favicon_tag 'images/favicon.png'
= stylesheet_link_tag 'application'
= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
