#sidebar
  %h2 Would you like to
  %ul
    %li= link_to 'Get started', '/#getting-started'
    %li= link_to 'Report a bug', '/issues.html'
    %li= link_to 'Blog', '/blog.html'
    %li= link_to "See what's new", '/v1.5/whats_new.html'
    %li= link_to 'Read documentation', '/v1.5/man/bundle.1.html'
    %li= link_to 'Discuss and Contribute', '/#get-involved'
    %li= link_to 'View FAQs', '/v1.5/faq.html'
  %h2 Bundler Commands
  %ul
    %li= link_to 'bundle install', '/v1.5/bundle_install.html'
    %li= link_to 'bundle update', '/v1.5/bundle_update.html'
    .buttons
      = link_to 'View all commands', '/v1.5/commands.html'
  %h2 Help With
  %ul
    %li= link_to 'Gemfiles', '/v1.5/gemfile.html'
    %li= link_to 'Groups', '/v1.5/groups.html'
    %li= link_to 'Gems from git', '/v1.5/git.html'
    %li= link_to 'Bundler.setup', '/v1.5/bundler_setup.html'
    %li= link_to 'Deploying', '/v1.5/deploying.html'
    %li= link_to 'Sharing', '/v1.5/bundler_sharing.html'
    %li= link_to 'Updating Gems', '/v1.5/updating_gems.html'
    %li= link_to 'Compatible versions', '/compatibility.html'
  %h2 Use Bundler with
  %ul
    %li= link_to 'Rails 3', '/v1.5/rails3.html'
    %li= link_to 'Rails 2.3', '/v1.5/rails23.html'
    %li= link_to 'Sinatra', '/v1.5/sinatra.html'
    %li= link_to 'Rubygems', '/v1.5/rubygems.html'
    %li= link_to 'RubyMotion', '/v1.5/rubymotion.html'

  .shirts
    .content
      = link_to 'http://www.devswag.com/collections/bundler', :class => 'image', :onclick => "ga('send', 'devswag');" do
        = image_tag '/images/bundler-shirt.png'
      %p
        =link_to 'Buy Bundler Shirts & Stickers!', 'http://www.devswag.com/collections/bundler', :onclick => "ga('send', 'devswag');"