.col
  .card.m-4
    .polygon-each-img-wrap
      = image_tag "team/#{login}.jpg", class: "polygon-clip-hexagon"
    .card-body.caption.text-center
      %h4.fw-bold= name
      .fs-5= link_to "@#{login}", "https://github.com/#{login}"
