%h2 Core team

.contributor
  = img("contributors/andre.jpg", :class => "avatar")
  %h3== André Arko (#{link('@indirect', 'https://github.com/indirect')})
  %p André Arko is a Ruby nerd, the author of the jquery-rails gem, and leads the Bundler core team. After working all day developing websites as a consultant, he likes to come home and work on tools that make it easier to develop websites. All things considered, he should probably get out more.
  
.contributor
  = img("contributors/terence.jpg", :class => "avatar")
  %h3== Terence Lee (#{link('@hone', 'https://github.com/hone')})

%h2 Site team

.contributor
  = img("contributors/jessica.jpg", :class => "avatar")
  %h3== Jessica King (#{link('@sicaking', 'https://github.com/sicaking')})
  %p 
    Bio:
    %br
    = link(img("contributors/graphy.png"), "http://www.google.com/search?q=graph(y)")

%h2 Team alumni
%h3== Yehuda Katz (#{link('@wycats', 'https://github.com/wycats')})
%h3== Carl Lerche (#{link('@carllerche', 'https://github.com/carllerche')})
%h3== José Valim (#{link('@josevalim', 'https://github.com/josevalim')})

%h2 Icon and Logo
%h3
  == #{link("John Neiner", "http://twitter.com/johnneiner")} and
  == the #{link("Pixel Graphic Design Studio", "http://pixelgraphics.us")}

%h4.other-contributors== and the commits of #{link("many, many others…", "http://github.com/carlhuda/bundler/contributors")}