%h2 Core team
%h3== André Arko (#{link('@indirect', 'https://github.com/indirect')})
%h3== Terence Lee (#{link('@hone', 'https://github.com/hone')})

%h2 Site team
%h3== Jessica King (#{link('@sicaking', 'https://github.com/sicaking')})

%h2 Team alumni
%h3== Yehuda Katz (#{link('@wycats', 'https://github.com/wycats')})
%h3== Carl Lerche (#{link('@carllerche', 'https://github.com/carllerche')})
%h3== José Valim (#{link('@josevalim', 'https://github.com/josevalim')})

%h2 Icon and Logo
%h3
  == #{link("John Neiner", "http://twitter.com/johnneiner")} and
  == the #{link("Pixel Graphic Design Studio", "http://pixelgraphics.us")}

%h4.other-contributors== and the commits of #{link("many, many others…", "http://github.com/carlhuda/bundler/contributors")}