.bg-dark-blue
  .mx-auto.text-center
    = image_tag '/images/header_transparent_bg.png',
      srcset: '/images/header_transparent_bg.png 1x, /images/header_transparent_bg@2x.png 2x, /images/header_transparent_bg@3x.png 3x',
      class: 'img-fluid',
      width: 1120,
      height: 704

.container.py-5
  .mx-xl-5.px-xl-5.my-4.large-font
    %p= t('home.bundler_info1')
    %p= t('home.bundler_info2')

  .d-grid.d-md-flex.gap-2.mx-auto.my-md-4.justify-content-md-center
    = link_to t('home.what_can_bundler_do'), "/guides/getting_started.html#getting-started", class: 'btn btn-primary btn-lg'
    = link_to "#{t("home.new_in")} #{current_version}", "/#{current_version}/whats_new.html", class: 'btn btn-primary btn-lg'
    = link_to t('home.cli_docs'), "/#{current_version}/man/bundle-install.1.html", class: 'btn btn-primary btn-lg'
    = link_to t('home.chat_with_us'), 'https://slack.bundler.io', class: 'btn btn-primary btn-lg'

.bg-light-blue
  .container
    .mx-xl-5.px-xl-5
      %h2
        The latest news
      %h3
        - blog.articles[0..0].each do |article|
          = article.date.to_date.strftime("%b %e, %Y")
          = link_to article.title, article.url

.container
  .mx-xl-5.px-xl-5.my-3.my-md-4.py-3
    %h2#getting-started
      %b= t('home.getting_started')

    .large-font.mt-4
      .bullet
        .description
          %p= t('home.getting_started_description')
        :code
          # lang: ruby
          source 'https://rubygems.org'
          gem 'nokogiri'
          gem 'rack', '~> 2.2.4'
          gem 'rspec'
        .d-grid.d-md-flex.gap-2.my-3.justify-content-md-end
          = link_to t('home.learn_more_gemfile'), './gemfile.html', class: 'btn btn-primary btn-lg'

      .bullet
        .description
          %p= t('home.bundle_install_description')
        :code
          $ bundle install
          $ git add Gemfile Gemfile.lock
        .d-grid.d-md-flex.gap-2.my-3.justify-content-md-end
          = link_to t('home.learn_more_bundle_install'), "./#{current_version}/man/bundle-install.1.html", class: 'btn btn-primary btn-lg'

.bg-light-blue
  .container
    .mx-xl-5.px-xl-5
      %h2#get-involved Get involved
      .my-4.large-font
        Bundler has a lot of contributors and users, and we would love to have your help!
        If you have questions, join #{link_to 'the Bundler Slack', 'https://slack.bundler.io'}
        and we'll try to answer them. If you're interested in contributing (no programming skills needed), start with
        #{link_to 'the contributing guide', 'https://github.com/rubygems/rubygems/blob/master/bundler/doc/contributing/README.md'}.
        While participating in the Bundler project, please keep the #{link_to 'code of conduct', '/conduct.html'}
        in mind, and be inclusive and friendly towards everyone.
        If you think you've found a security issue, please report it via #{link_to 'HackerOne', 'https://hackerone.com/rubygems'}.

      .d-grid.d-md-flex.gap-2.mx-auto.my-md-4.justify-content-md-center
        = link_to 'Code of Conduct', '/conduct.html', class: 'btn btn-primary btn-lg'
        = link_to 'Join the Bundler Slack', 'https://slack.bundler.io', class: 'btn btn-primary btn-lg'
        = link_to 'Contributing guide', 'https://github.com/rubygems/rubygems/blob/master/bundler/doc/contributing/README.md', class: 'btn btn-primary btn-lg'
        = link_to 'Report security issue', 'https://hackerone.com/rubygems', class: 'btn btn-primary btn-lg'
