- primary_commands = %w(bundle-install.1 bundle-update.1 bundle-cache.1 bundle-exec.1 bundle-config.1 bundle_help)

.row.bg-light-blue.header
  = image_tag '/images/docs_header_transparent_bg.png',
    srcset: '/images/docs_header_transparent_bg.png 1x, /images/docs_header_transparent_bg@2x.png 2x, /images/docs_header_transparent_bg@3x.png 3x',
    class: 'img-responsive header-padding',
    style: 'max-width: 400px;'

.row.docs
  .container
    .col-sm-5.col-sm-offset-0.col-xs-9.col-xs-offset-2
      %h3
        %b Guides
      %ul.ul-padding
        %li= link_to 'Using Bundler In Applications', "/#{current_visible_version}/guides/using_bundler_in_applications.html"
        %li= link_to 'Using Gemfiles to install gems', "/#{current_visible_version}/gemfile.html"
        %li= link_to 'Leaving gems out in production', "/#{current_visible_version}/groups.html"
        %li= link_to 'Installing gems from git repos', "/#{current_visible_version}/git.html"
        %li= link_to 'Setting up & using bundled gems', "/#{current_visible_version}/bundler_setup.html"
        %li= link_to 'Developing a RubyGem using Bundler', "/#{current_visible_version}/guides/creating_gem.html"
        %li= link_to 'Deploying', "/#{current_visible_version}/deploying.html"
        %li= link_to 'Sharing', "/#{current_visible_version}/bundler_sharing.html"
        %li= link_to 'Updating Gems', "/#{current_visible_version}/updating_gems.html"
        %li= link_to 'Compatibility', '/compatibility.html'
        %li= link_to 'Older Versions', '/older_versions.html'
        %li= link_to 'View FAQ', "/#{current_visible_version}/faq.html"

      %h4
        %b Use Bundler with
      %ul.ul-padding
        %li= link_to 'Rails', "/#{current_visible_version}/rails.html"
        %li= link_to 'Sinatra', "/#{current_visible_version}/sinatra.html"
        %li= link_to 'RubyGems', "/#{current_visible_version}/rubygems.html"

    .col-sm-4.col-sm-offset-0.col-xs-9.col-xs-offset-2
      %h3
        %b Reference
      %h4
        %b Primary Commands
      %ul.ul-padding
        - primary_commands.select{ |page| path_exist?(page) }.each do |page|
          %li= link_to_documentation(page)

      %h4
        %b Utilities
      %ul.ul-padding
        - other_commands(primary_commands).each do |page|
          %li= link_to_documentation(page)

    .col-sm-2.col-sm-offset-0.col-xs-9.col-xs-offset-2
      %h3
        %b Release Notes
      %h4
        %b What's new in
      %ul
        - versions.reverse.select{ |version| path_exist?('whats_new', version) }.each do |v|
          %li= link_to "Version #{v}", "/#{v}/whats_new.html"

        %li= link_to 'Version v1.1', 'https://github.com/bundler/bundler/blob/master/CHANGELOG.md#110-mar-7-2012'
        %li= link_to 'Version v1.0', 'https://github.com/bundler/bundler/blob/master/CHANGELOG.md#100-august-29-2010'