.contributor
  = img("contributors/andre.jpg", :class => "avatar")
  %h3== André Arko (#{link('@indirect', 'https://github.com/indirect')})
  %h4 Core Team

.contributor
  = img("contributors/terence.jpg", :class => "avatar")
  %h3== Terence Lee (#{link('@hone', 'https://github.com/hone')})
  %h4 Core Team

.contributor
  = img("contributors/yehuda.jpg", :class => "avatar")
  %h3== Yehuda Katz (#{link('@wycats', 'https://github.com/wycats')})
  %h4 Core Team Advisor

.contributor
  = img("contributors/carl.jpg", :class => "avatar")
  %h3== Carl Lerche (#{link('@carllerche', 'https://github.com/carllerche')})
  %h4 Core Team Alumni

%p== And with support and commits provided by #{link("many, many others…", "http://github.com/carlhuda/bundler/contributors")}

%h2 Icon and Logo
%p
  == Provided by #{link("John Neiner", "http://twitter.com/johnneiner")} and
  == the #{link("Pixel Graphic Design Studio", "http://pixelgraphics.us")}
