%h2 Core team

.contributor
  = img("contributors/andre.jpg", :class => "avatar")
  %h3== André Arko (#{link('@indirect', 'https://github.com/indirect')})
  %p André Arko is a Ruby nerd, the author of the jquery-rails gem, and leads the Bundler core team. After working all day developing websites as a consultant, he likes to come home and work on tools that make it easier to develop websites. All things considered, he should probably get out more.

.contributor
  = img("contributors/terence.jpg", :class => "avatar")
  %h3== Terence Lee (#{link('@hone', 'https://github.com/hone')})

.contributor
  = img("contributors/yehuda.jpg", :class => "avatar")
  %h3== Yehuda Katz (#{link('@wycats', 'https://github.com/wycats')})

%h2 Contributors

.contributor
  = img("contributors/jessica.jpg", :class => "avatar")
  %h3== Jessica King (#{link('@sicaking', 'https://github.com/sicaking')})
  %h4 Site Team
  %p(style="vertical-align:top")
    Bio:&nbsp;
    = link(img("contributors/graphy.png"), "http://www.google.com/search?q=graph(y)")

.contributor
  %p.avatar
  %h3== Carl Lerche (#{link('@carllerche', 'https://github.com/carllerche')})
  %h4 Core Team Alumni

%p== And with support and commits provided by #{link("many, many others…", "http://github.com/carlhuda/bundler/contributors")}

%h2 Icon and Logo
%p
  == Provided by #{link("John Neiner", "http://twitter.com/johnneiner")} and
  == the #{link("Pixel Graphic Design Studio", "http://pixelgraphics.us")}
