%h2 Bundler API Sponsors

%p== The #{link('Bundler dependency API', 'http://github.com/rubygems/bundler-api')} provides dependency information to Bundler version 1.1 and higher. It speeds up `bundle install` by several times over, but requires server capacity beyond what RubyCentral is able to provide for rubygems.org. These sponsors have provided the resources that make hosting the Bundler API possible.

.contributor
  = img("sponsors/heroku.png", :class => "avatar")
  %h3== #{link('Heroku', 'http://heroku.com')}
  %p Heroku provides the Ruby and Postgres servers that the API runs on.

.contributor
  = img("sponsors/honeybadger.png", :class => "avatar")
  %h3== #{link('Honeybadger', 'http://honeybadger.io')}
  %p Honeybadger provides exception reporting, tracking, and alerting.

.contributor
  = img("sponsors/librato.png", :class => "avatar")
  %h3== #{link('Librato', 'http://librato.com')}
  %p== Librato provides metrics, analytics, and #{link('the API dashboard', 'https://metrics.librato.com/share/dashboards/18w46x4p')}.
