%h2 Bundler Project Sponsors

%p Development work on Bundler has been sponsored by many companies over the years. Here, we thank the companies that have directly contributed money or significant paid time to implement features or fix bugs.

.contributor
  = img("sponsors/mavenlink.png", :class => "avatar")
  %h3== #{link('Mavenlink', 'http://www.mavenlink.com')}
  %p== Mavenlink employs #{link('André Arko', 'https://github.com/indirect')} to work full-time on open source software, including Bundler.

.contributor
  = img("sponsors/heroku.png", :class => "avatar")
  %h3== #{link('Heroku', 'http://heroku.com')}
  %p== Heroku employs #{link('Terence Lee', 'https://github.com/hone')} to maintain the Ruby platform on Heroku, including ongoing contributions to Bundler.

.contributor
  = img("sponsors/engineyard.png", :class => "avatar")
  %h3== #{link('Engine Yard', 'http://engineyard.com')}
  %p== Engine Yard employed #{link('Yehuda Katz', 'https://github.com/wycats')}, #{link('Carl Lerche', 'https://github.com/carllerche')}, and #{link('André Arko', 'https://github.com/indirect')} during the initial development of Bundler. Later, they sponsored the development of the <code>bundle inject</code> command.

.contributor
  = img("sponsors/travis.png", :class => "avatar")
  %h3== #{link('Travis CI', 'http://travis-ci.org')}
  %p== Travis provides Bundler's #{link('continuous integration', 'http://travis-ci.org/carlhuda/bundler/')} servers, so that we can see at a glance whether Bundler will work with every version of Ruby and Rubygems that we support.

%h2 Bundler API Sponsors

%p== The #{link('Bundler dependency API', 'http://github.com/rubygems/bundler-api')} provides dependency information to Bundler version 1.1 and higher. It speeds up `bundle install` by several times over, but requires server capacity beyond what RubyCentral is able to provide for rubygems.org. These sponsors have provided the resources that make hosting the Bundler API possible.

.contributor
  = img("sponsors/heroku.png", :class => "avatar")
  %h3== #{link('Heroku', 'http://heroku.com')}
  %p Heroku provides the Ruby and Postgres servers that the API runs on.

.contributor
  = img("sponsors/honeybadger.png", :class => "avatar")
  %h3== #{link('Honeybadger', 'http://honeybadger.io')}
  %p Honeybadger provides exception reporting, tracking, and alerting.

.contributor
  = img("sponsors/librato.png", :class => "avatar")
  %h3== #{link('Librato', 'http://librato.com')}
  %p== Librato provides metrics, analytics, and #{link('the API dashboard', 'https://metrics.librato.com/share/dashboards/18w46x4p')}.

.contributor
  = img("sponsors/pagerduty.png", :class => "avatar")
  %h3== #{link('PagerDuty', 'http://pagerduty.com')}
  %p PagerDuty provides operational alerting, notifications, and on-call schedule rotation.
