# What's New in v<%= version %>

The [Bundler <%= version %> announcement](/blog/<%= date_slug %>/bundler-v<%= version_slug %>.html)
includes context and a more detailed explanation of the changes in this version.
This is a summary of the biggest changes. As always, a detailed list of every change is provided in
[the changelog](https://github.com/rubygems/rubygems/blob/<%= rubygems_version %>/bundler/CHANGELOG.md).

## BIG NEW THING

THE BIG NEW THING DOES COOL NEW STUFF.

Bundler <%= version %> also includes:

- SMALL NEW THING FIXES A PROBLEM

<a href="https://github.com/rubygems/rubygems/blob/<%= rubygems_version %>/bundler/CHANGELOG.md" class="btn btn-primary">Full <%= version %> changelog</a>
