!!!
%html
  %head
    %title Bundler: The best way to manage Ruby applications
    = stylesheets
    %link{:rel => "shortcut icon", :href => "/images/favicon.png", :type => "image/png" }
  %body
    #body
      #contents
        #header
          %a{:href => "index.html"}
            %img{:src => "images/gembundler.png", :width => "725"}/
          /%h1 The best way to manage your application's dependencies
        = yield

    #footer
      = img("emocow.png")
      .spacer
      %p
        = link("home", "index.html")
        \/
        = link("install", "bundle_install.html")
        \/
        = link("lock", "bundle_lock.html")
        \/
        = link("package", "bundle_package.html")
        \/
        = link("#setup", "bundler_setup.html")
        \/
        = link("git", "git.html")
        \/
        = link("groups", "groups.html")
        \/
        = link("Rails 2.3", "rails23.html")
        \/
        = link("Rails 3", "rails3.html")
        \/
          = link("deploying", "deploying.html")
      .spacer
      = img("bundler-small.png")
    #credits
      %p Bundler icon and logo designed by <a href="http://twitter.com/johnneiner">John Neiner</a> and donated by <a href="http://pixelgraphics.us">Pixel Graphic Design Studio</a>
    %a#github{ :href => "http://github.com/carlhuda/bundler/" }
      %img{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}