!!!
- v = current_page.scan(/v\d\.\d/).first || "v1.2"
%html
  %head
    %title Bundler: The best way to manage a Ruby application's gems
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}/
    = stylesheets
    %link{:rel => "shortcut icon", :href => "/images/favicon.png", :type => "image/png" }
  %body
    #body
      #contents
        #header
          %a{:href => "/"}
            = img("gembundler.png", :width => 725, :alt => "The best way to manage your application's dependencies")
        = yield

    #footer
      = img("emocow.png")
      = img("panda.jpg")
      .spacer
      #navigation
        %p
          %b= link("commands", "/#{v}/commands.html")
          = link("install", "/#{v}/bundle_install.html")
          \/
          = link("update", "/#{v}/bundle_update.html")
          \/
          = link("exec", "/#{v}/bundle_exec.html")
          \/
          = link("config", "/#{v}/bundle_config.html")
          - if v == "v0.9"
            \/
            = link("lock", "/#{v}/bundle_lock.html")
          \/
          = link("package", "/#{v}/bundle_package.html")
        %p
          %b usage
          = link("gemfile", "/#{v}/gemfile.html")
          \/
          = link("git", "/#{v}/git.html")
          \/
          = link("groups", "/#{v}/groups.html")
          \/
          = link("setup", "/#{v}/bundler_setup.html")
          \/
          = link("deploying", "/#{v}/deploying.html")
        %p
          %b frameworks
          = link("ruby", "/#{v}/bundler_setup.html")
          \/
          = link("rubygems", "/#{v}/rubygems.html")
          \/
          = link("rubymotion", "/#{v}/rubymotion.html")
          \/
          = link("sinatra", "/#{v}/sinatra.html")
          \/
          = link("rails 3", "/#{v}/rails3.html")
      .spacer
      = img("bundler-small.png")
    #credits
      %p
        == Many thanks to Bundler's #{link("contributors", "/contributors.html")}
        == and #{link("sponsors", "/sponsors.html")}
    %a#github{ :href => "http://github.com/carlhuda/bundler/" }
      %img{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}
    #prod-versions
      Docs:
      - %w(v0.9 v1.0 v1.1).each do |lv|
        = link_to(lv, "#{lv}/index.html", :class => ("current" if v == lv))
      = link_to("v1.2", "/", :class => ("current" if v == "v1.2"))

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-557621-9']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
