!!!
- v09 = (current_page =~ /^\/v0\.9/)
- v10 = (current_page =~ /^\/v1\.0/)
- v11 = (current_page =~ /^\/v1\.1/)
- v12 = !v09 && !v10 && !v11
%html
  %head
    %title Bundler: The best way to manage Ruby applications
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}/
    = stylesheets
    %link{:rel => "shortcut icon", :href => "/images/favicon.png", :type => "image/png" }
  %body
    #body
      #contents
        #header
          %a{:href => "/"}
            = img("gembundler.png", :width => 725, :alt => "The best way to manage your application's dependencies")
        = yield

    #footer
      = img("emocow.png")
      = img("panda.jpg")
      .spacer
      #navigation
        %p
          %b commands
          = link("home", "./index.html")
          \/
          = link("install", "./bundle_install.html")
          - if v09
            \/
            = link("lock", "./bundle_lock.html")
          \/
          = link("package", "./bundle_package.html")
        %p
          %b usage
          = link("gemfile", "./gemfile.html")
          \/
          = link("git", "./git.html")
          \/
          = link("groups", "./groups.html")
          \/
          = link("setup", "./bundler_setup.html")
          \/
          = link("deploying", "./deploying.html")
        %p
          %b frameworks
          = link("rubygems", "./rubygems.html")
          \/
          = link("sinatra", "./sinatra.html")
          \/
          = link("rails 2.3", "./rails23.html")
          \/
          = link("rails 3", "./rails3.html")
      .spacer
      = img("bundler-small.png")
    #credits
      %p
        Many thanks to
        = link("Bundler's contributors", "./contributors.html")
    %a#github{ :href => "http://github.com/carlhuda/bundler/" }
      %img{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}
    #prod-versions
      Docs:
      = link_to("v0.9", "v0.9/index.html", :class => (v09 ? "current" : ""))
      = link_to("v1.0", "v1.0/index.html", :class => (v10 ? "current" : ""))
      = link_to("v1.1", "v1.1/index.html", :class => (v11 ? "current" : ""))
      = link_to("v1.2", "v1.2/index.html", :class => (v12 ? "current" : ""))

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-557621-9']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
