.contributor
  = image_tag 'contributors/andre.jpg', :class => 'avatar'
  %h3== André Arko (#{link_to '@indirect', 'https://github.com/indirect'})
  %h4 Core Team

.contributor
  = image_tag 'contributors/terence.jpg', :class => 'avatar'
  %h3== Terence Lee (#{link_to '@hone', 'https://github.com/hone'})
  %h4 Core Team

.contributor
  = image_tag 'contributors/yehuda.jpg', :class => 'avatar'
  %h3== Yehuda Katz (#{link_to '@wycats', 'https://github.com/wycats'})
  %h4 Core Team Advisor

.contributor
  = image_tag 'contributors/carl.jpg', :class => 'avatar'
  %h3== Carl Lerche (#{link_to '@carllerche', 'https://github.com/carllerche'})
  %h4 Core Team Alumni

%p== And with support and commits provided by #{link_to 'many other contributors…', 'http://github.com/carlhuda/bundler/contributors'}

%h2 Icon and Logo
%p
  == Provided by #{link_to 'John Neiner', 'http://twitter.com/johnneiner'} and
  == the #{link_to 'Pixel Graphic Design Studio', 'http://pixelgraphics.us'}
