.row.bg-light-blue
  .col-md-6.col-md-offset-3
    = image_tag '/images/team_header_transparent_bg.png', class: 'img-responsive header-padding'

.row
  .col-xs-6.col-md-4
    .thumbnail
      = image_tag 'team/andre_hexagon.png'
      .caption.text-center
        %h4
          %b André Arko
        %h5= link_to '@indirect', 'https://github.com/indirect'

  .col-xs-6.col-md-4
    .thumbnail
      = image_tag 'team/andre_medeiros_hexagon.png'
      .caption.text-center
        %h4
          %b André Madeiros
        %h5= link_to '@andremedeiros', 'https://github.com/andremedeiros'

  .col-xs-6.col-md-4
    .thumbnail
      = image_tag 'team/james_hexagon.png'
      .caption.text-center
        %h4
          %b James Wen
        %h5= link_to '@RochesterinNYC', 'https://github.com/RochesterinNYC'

  .col-xs-6.col-md-4
    .thumbnail
      = image_tag 'team/sam_hexagon.png'
      .caption.text-center
        %h4
          %b Sam Geddins
        %h5= link_to '@segiddins', 'https://github.com/segiddins'

  .col-xs-6.col-md-4
    .thumbnail
      = image_tag 'team/tim_hexagon.png'
      .caption.text-center
        %h4
          %b Tim Moore
        %h5= link_to '@TimMoore', 'https://github.com/TimMoore'
