.row.bg-light-blue.header
  = image_tag '/images/team_header_transparent_bg.png',
    srcset: '/images/team_header_transparent_bg.png 1x, /images/team_header_transparent_bg@2x.png 2x, /images/team_header_transparent_bg@3x.png 3x',
    class: 'img-responsive header-padding',
    style: 'max-width: 460px; padding-bottom: 10px; width: 78%;'

:css
  .polygon-clip-hexagon {
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    clip-path: url(#polygon);
  }

%svg.clip-svg{style: 'position: absolute;'}
  %defs
    %clipPath#polygon{:clipPathUnits => 'objectBoundingBox'}
      %polygon{:points => '0.25 0.06, 0.75 0.06, 1 0.5, 0.75 0.94, 0.25 0.94, 0 0.5'}

.container
  .row
    %h3 Maintainers
  .row.team
    = team_member("indirect", "André Arko")
    = team_member("segiddins", "Samuel Giddins")
    = team_member("RochesterinNYC", "James Wen")
    = team_member("andremedeiros", "André Medeiros")

  .row
    %h3 Website team
  .row.team
    = team_member("sailorhg", "Amy Wibowo")
    = team_member("kruczjak", "Jakub Kruczek")

  .row
    %h3 And many, many thanks to all of our contributors throughout the years, including:
    %br
  .row
    - data.contributors.each do |c|
      %span.contributor
        = link_to c[:name], c[:href], title: "#{pluralize(c[:commits], "commit")}"
        = "&nbsp;•&nbsp;" unless c == data.contributors.last
    %p
      %br
      …and everyone who has given time, effort, thought, or help, instead of git commits <3
