.row.bg-light-blue.header
  = image_tag '/images/team_header_transparent_bg.png',
    srcset: '/images/team_header_transparent_bg.png 1x, /images/team_header_transparent_bg@2x.png 2x, /images/team_header_transparent_bg@3x.png 3x',
    class: 'img-responsive header-padding',
    style: 'max-width: 460px; padding-bottom: 10px; width: 78%;'

:css
  .polygon-clip-hexagon {
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    clip-path: url(#polygon);
  }

.row.docs
  .container
    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/andre.jpg', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b André Arko
          %h5= link_to '@indirect', 'https://github.com/indirect'

    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/andremedeiros.png', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b André Madeiros
          %h5= link_to '@andremedeiros', 'https://github.com/andremedeiros'

    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/jameswen.jpg', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b James Wen
          %h5= link_to '@RochesterinNYC', 'https://github.com/RochesterinNYC'

    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/segiddins.jpg', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b Samuel Giddins
          %h5= link_to '@segiddins', 'https://github.com/segiddins'

.row.contributors
  .col-xs-10.col-xs-push-1
    %p And a big thank you to all of our contributors throughout the years, including:
    - data.contributors.each do |c|
      %span.contributor
        = link_to c[:name], c[:href], title: "#{pluralize(c[:commits], "commit")}"
        &nbsp;•&nbsp;
    %span.contributor and everyone who has given time, effort, thought, or help, instead of git commits <3

%svg.clip-svg{style: 'position: absolute;'}
  %defs
    %clipPath#polygon{:clipPathUnits => 'objectBoundingBox'}
      %polygon{:points => '0.25 0.06, 0.75 0.06, 1 0.5, 0.75 0.94, 0.25 0.94, 0 0.5'}