%p== Development of Bundler and related projects is managed by the Bundler Core Team, led by André Arko. Bundler was originally written by Yehuda Katz and Carl Lerche. Additional support and code has been provided by #{link_to 'over 300 other contributors, as listed on Github.', 'http://github.com/bundler/bundler/contributors'}

%h2 Bundler Core Team

.contributors

  .contributor
    = image_tag 'contributors/andre.jpg', :class => 'avatar'
    %h3== André Arko
    %h4= link_to '@indirect', 'https://github.com/indirect'

  .contributor
    = image_tag 'contributors/terence.jpg', :class => 'avatar'
    %h3== Terence Lee
    %h4= link_to '@hone', 'https://github.com/hone'

  .contributor
    = image_tag 'contributors/tim.jpg', :class => 'avatar'
    %h3== Tim Moore
    %h4= link_to '@TimMoore', 'https://github.com/TimMoore'

.contributors

  .contributor
    = image_tag 'contributors/smit.jpg', :class => 'avatar'
    %h3== Smit Shah
    %h4= link_to '@Who828', 'https://github.com/Who828'

  .contributor
    = image_tag 'contributors/andremedeiros.jpg', :class => 'avatar'
    %h3== André Medeiros
    %h4= link_to '@andremedeiros', 'https://github.com/andremedeiros'

  .contributor
    = image_tag 'contributors/segiddins.jpg', :class => 'avatar'
    %h3== Samuel Giddins
    %h4= link_to '@segiddins', 'https://github.com/segiddins'

%h2 Core Team Alumni

.contributors

  .contributor
    = image_tag 'contributors/yehuda.jpg', :class => 'avatar'
    %h3== Yehuda Katz
    %h4= link_to '@wycats', 'https://github.com/wycats'

  .contributor
    = image_tag 'contributors/carl.jpg', :class => 'avatar'
    %h3== Carl Lerche
    %h4= link_to '@carllerche', 'https://github.com/carllerche'

  .contributor
    = image_tag 'contributors/jessica.jpg', :class => 'avatar'
    %h3== Jessica Lynn Suttles
    %h4= link_to '@jlsuttles', 'https://github.com/jlsuttles'

.contributors

  .contributor
    = image_tag 'contributors/larry.jpg', :class => 'avatar'
    %h3== Larry Marburger
    %h4= link_to '@lmarburger', 'https://github.com/lmarburger'

%h2 Icon and Logo
%p
  == Provided by #{link_to 'John Neiner', 'http://twitter.com/johnneiner'} and
  == the #{link_to 'Pixel Graphic Design Studio', 'http://pixelgraphics.us'}
