.row.bg-light-blue.header
  = image_tag '/images/team_header_transparent_bg.png',
    srcset: '/images/team_header_transparent_bg.png 1x, /images/team_header_transparent_bg@2x.png 2x, /images/team_header_transparent_bg@3x.png 3x',
    class: 'img-responsive header-padding',
    style: 'max-width: 460px; padding-bottom: 10px; width: 78%;'

.row.docs
  .container
    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/andre.jpg', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b André Arko
          %h5= link_to '@indirect', 'https://github.com/indirect'

    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/andremedeiros.png', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b André Madeiros
          %h5= link_to '@andremedeiros', 'https://github.com/andremedeiros'

    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/jameswen.jpg', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b James Wen
          %h5= link_to '@RochesterinNYC', 'https://github.com/RochesterinNYC'

    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/segiddins.jpg', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b Samuel Giddins
          %h5= link_to '@segiddins', 'https://github.com/segiddins'

    .col-xs-6.col-md-4
      .thumbnail
        .polygon-each-img-wrap
          = image_tag 'team/tim.jpg', class: 'polygon-clip-hexagon'
        .caption.text-center
          %h4
            %b Tim Moore
          %h5= link_to '@TimMoore', 'https://github.com/TimMoore'
